body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,white,navy);
    margin: auto;
    display:flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container{
    background-color: white;
    color: navy;
    width:400px;
    border-radius: 10px;
    padding: 25px;
    transition: ease-in 1s;
    transition-delay: 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
input{
    width: 100%;
    background-color: transparent;
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #757575;
    font-size: 15px;
}

h1{
    text-align: center;
}
#send{
    font-size: 17px;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: navy;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
#send:hover{
    color: navy;
    background-color: white;
    border: 1px solid navy;
}
input[type="file"] {
    border-bottom: none; 
}
input:focus{
    outline: none;
    border-bottom: 2px solid gold;
}
input:valid{
    border-bottom: 2px solid green;
}
input::file-selector-button{
    background-color: navy;
    color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
    cursor: pointer;
    border:none;
}
input::file-selector-button:hover{
    background-color: white;
    color:navy;
    cursor: pointer;
    border: 1px solid navy;
}